body {
  background: #eee;
}

H1 {
  font-family: sans-serif;
  color: red;
  text-align: center;
}

p {
text-align: center;
font-family: sans-serif;

}
 canvas {
   position: relative;
   left: 34em;
 }
